@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: none;
  white-space: nowrap;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "SF Pro Display";
  height: 100%;
}

.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: 885px) {
  .container {
    padding-left: 105px;
    padding-right: 105px;
  }
}
@media screen and (max-width: 774px) {
  .container {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media screen and (max-width: 747px) {
  .container {
    padding-left: 70px;
    padding-right: 70px;
  }
}
@media screen and (max-width: 704px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (max-width: 664px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 624px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header {
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.header__container {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__block {
  display: flex;
  align-items: center;
  gap: 32px;
}

.intro__img {
  max-width: 398px;
}

.intro__title {
  color: #1E3240;
  font-size: 88px;
  font-weight: 700;
}
.intro__title span {
  width: 101px;
  height: 45px;
  border-radius: 500px;
  border: 11px solid #1E3240;
  flex-shrink: 0;
  display: inline-block;
}

.intro__text {
  color: #1E3240;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}
.intro__text span {
  color: #1E3240;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.intro__btn {
  max-width: 160px;
  color: #FFF;
  font-family: SF Pro Display;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 8px;
  background: var(--prime, #0071E4);
  padding: 15px 40px;
  border: 1px solid #0071E4;
}
.intro__btn:hover {
  background-color: transparent;
  color: #0071E4;
}

.intro__content {
  display: flex;
  align-items: center;
  gap: 48px;
  justify-content: center;
}

.intro__container {
  padding-top: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.intro__container::before {
  content: "";
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(../../img/strelka2.svg);
  background-position: left center;
  display: inline-block;
}
.intro__container::after {
  content: "";
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-image: url(../../img/strelka.svg);
  background-position: right center;
  display: inline-block;
}

.intro {
  background-color: #D0EAFC;
}

@media screen and (max-width: 1125px) {
  .intro__content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .intro__title {
    color: #1E3240;
    font-size: 59.309px;
    font-weight: 700;
  }
  .intro__title span {
    width: 68px;
    height: 30px;
    border-radius: 336.98px;
    border: 7.414px solid #1E3240;
  }
  .intro__img {
    max-width: 269px;
  }
}
@media screen and (max-width: 400px) {
  .intro__title {
    color: #1E3240;
    font-size: 37.068px;
    font-weight: 700;
  }
  .intro__title span {
    width: 42.599px;
    height: 19.041px;
    border-radius: 210.613px;
    border: 4.633px solid #1E3240;
  }
  .intro__img {
    max-width: 173px;
  }
  .intro__text {
    color: #1E3240;
    font-size: 20px;
    font-weight: 400;
  }
  .intro__text span {
    color: #1E3240;
    font-size: 32px;
    font-weight: 400;
  }
}
.trending__container {
  padding-top: 50px;
  padding-bottom: 40px;
}

.trending__text {
  color: #0071E4;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

.trending__block_div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.trending__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.trending__block_div_text {
  color: #0071E4;
  font-size: 16px;
  font-weight: 500;
}

.treding__item {
  max-width: 282px;
  padding: 16px 8px 24px 8px;
  border-radius: 16px;
  background: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;
}
@media screen and (max-width: 584px) {
  .treding__item {
    margin-right: auto;
    margin-left: auto;
  }
}

.trending__block_div2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.trending__title {
  color: #100E0E;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 9px;
}

.trending__item_img {
  margin-bottom: 16px;
}

.trending__block2 {
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trending__block2_text {
  color: #706E6E;
  font-size: 16px;
  font-weight: 500;
}

.trending__block2_div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.trending__block3_text {
  color: #878787;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: line-through;
}

.trending__block3_text2 {
  color: #100E0E;
  font-size: 32px;
  font-weight: 500;
}

.trending__block3 {
  margin-top: 8px;
  margin-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tranding__btn {
  padding: 17px 0;
  width: 100%;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #0071E4;
  text-align: center;
  margin-bottom: 22px;
}
.tranding__btn:hover {
  background-color: #6FD91C;
}
.tranding__btn:hover::before {
  background-image: url(../../img/tranding_btn_hover_icon.svg);
}
.tranding__btn::before {
  content: "";
  top: 30px;
  width: 24px;
  height: 24px;
  background-image: url(../../img/tranding_btn_icon.svg);
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
}

.tranding__block4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tranding__block4_text2 {
  color: #706E6E;
  font-size: 16px;
  font-weight: 500;
}

.tranding__block4_text {
  color: #0071E4;
  font-size: 16px;
  font-weight: 500;
}

.trending__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 24px;
}

.tranding__block3_btn {
  max-width: 140px;
  display: none;
  padding: 8px;
  width: 100%;
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #0071E4;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 12px;
}
.tranding__block3_btn:hover {
  background-color: #6FD91C;
}
.tranding__block3_btn:hover::after {
  background-image: url(../../img/tranding_btn_hover_icon.svg);
}
.tranding__block3_btn::after {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../../img/tranding_btn_icon.svg);
  background-repeat: no-repeat;
  display: inline-block;
}

.tranding__btn--active {
  padding: 19px 0;
  width: 100%;
  color: #0071E4;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #0071E4;
  margin-bottom: 47px;
}

.trending__block3_text--active {
  padding-left: 23px;
  padding-right: 7px;
  color: #878787;
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .trending__block3_text2 {
    display: none;
  }
  .tranding__btn {
    display: none;
  }
  .tranding__block3_btn {
    display: block;
  }
  .tranding__btn--active {
    padding: 14px 0;
    border: none;
    background-color: transparent;
    margin-bottom: 0;
  }
}
.news__title {
  color: #100E0E;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 22px;
}

.news__text {
  color: #585656;
  font-size: 16px;
  font-weight: 400;
}

.news__container {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .news__container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 430px) {
  .news__title {
    font-size: 24px;
  }
}
.phone__title {
  color: #FFF;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 16px;
}

.phone__text {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 24px;
}

.phone__btn {
  max-width: 160px;
  width: 100%;
  height: 56px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  background: var(--prime, #0071E4);
}

.phone__img {
  max-width: 376px;
}

.phone {
  background-color: #000;
}

.phone__container {
  display: flex;
  align-items: center;
  gap: 88px;
}

.phone__block {
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (max-width: 888px) {
  .phone__title {
    font-size: 32px;
  }
  .phone__text {
    font-size: 16px;
  }
  .phone__container {
    gap: 72px;
  }
  .phone__img {
    padding-left: 40px;
  }
  .phone__block {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 557px) {
  .phone__block {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .phone__title {
    white-space: nowrap;
    font-size: 20px;
  }
  .phone__container {
    gap: 24px;
  }
  .phone__img {
    max-width: 70%;
    padding-left: 0;
  }
  .phone__container {
    justify-content: space-between;
  }
}
@media screen and (max-width: 380px) {
  .phone__img {
    max-width: 90%;
  }
}
.info__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.info__title {
  text-align: center;
  color: #100E0E;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.info__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__item {
  max-width: 228px;
  border-radius: 16px;
  background: linear-gradient(180deg, #FE94A6 0.04%, #F2F2F2 65.84%);
  padding: 24px 8px 32px 8px;
  text-align: center;
}

.info__item_title {
  color: #100E0E;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.first__title {
  margin-bottom: 8px;
}

.info__item_text {
  color: #585656;
  font-size: 16px;
  font-weight: 400;
}

.first {
  margin-bottom: 99px;
}

.info__img {
  max-width: 160px;
  margin-right: auto;
  margin-left: auto;
}

.info__btn {
  width: 100%;
  padding: 16px 0;
  color: var(--prime, #0071E4);
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid var(--prime, #0071E4);
}

.second {
  margin-bottom: 24px;
}

.second_item {
  border-radius: 16px;
  background: linear-gradient(180deg, #E685FF 0.04%, #F2F2F2 65.84%);
}

.third {
  margin-bottom: 81px;
}

.third_item {
  border-radius: 16px;
  background: linear-gradient(180deg, #7DE9FF 0.04%, #F2F2F2 65.84%) 0;
}

.fourth {
  margin-bottom: 91px;
}

.fourth_item {
  border-radius: 16px;
  background: linear-gradient(180deg, #FFE685 0.04%, #F6F6F6 65.84%);
}

.fifth {
  margin-bottom: 72px;
}

.fifth_item {
  border-radius: 16px;
  background: linear-gradient(180deg, #ADFFC1 0.04%, #F2F2F2 65.84%), #F2F2F2;
}

.info__item_768 {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  background: #F9F9F9;
  padding: 24px 71px 32px 24px;
  margin-bottom: 8px;
}

.info__item_img {
  width: 64px;
  height: 64px;
}

.info__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info__item_block {
  max-width: 293px;
}

.info__item_btn {
  padding: 16px 60px;
  color: #0071E4;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid var(--prime, #0071E4);
}

.info__list_768 {
  display: none;
}

.info__block_375 {
  display: flex;
  gap: 8px;
}

.info__item_375 {
  padding: 16px;
  border-radius: 16px;
  background: #F9F9F9;
  margin-bottom: 8px;
}

.info__list_375 {
  display: none;
}

@media screen and (max-width: 1210px) {
  .info__list {
    flex-wrap: wrap;
    row-gap: 21px;
  }
  .fifth_item {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 995px) {
  .fourth_item {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 885px) {
  .third_item {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 768px) {
  .info__list {
    display: none;
  }
  .info__list_768 {
    display: block;
  }
  .info__container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 732px) {
  .info__item_btn {
    display: none;
  }
  .info__item_block {
    padding-left: 20px;
  }
  .info__item_768 {
    padding-right: 0px;
  }
}
@media screen and (max-width: 390px) {
  .info__title {
    font-size: 24px;
  }
  .info__item_img {
    width: 32px;
    height: 32px;
  }
  .info__item_title {
    font-size: 20px;
  }
  .info__list_768 {
    display: none;
  }
  .info__list_375 {
    display: block;
  }
}
.shares__img {
  max-width: 484px;
}

.shares {
  background: #F9F9F9;
}

.shares__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.shares__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.shares__block {
  max-width: 486px;
  width: 100%;
}

.shares__title {
  color: var(--1, #100E0E);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 8px;
}

.shares__text {
  color: var(--07, #585656);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}

.shares__block2_title {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 4px;
}

.shares__block2_text {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

.shares__block2 {
  border-radius: 16px;
  background: linear-gradient(90deg, #F7355D 0.3%, #9747FF 101.33%);
  padding: 16px 32px 32px 32px;
}

.shares__input {
  width: 246px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #DBDBDB;
  background: #FFF;
  padding: 14px 24px;
}

.shares__input::-moz-placeholder {
  color: #878787;
  font-size: 20px;
  font-weight: 400;
}

.shares__input::placeholder {
  color: #878787;
  font-size: 20px;
  font-weight: 400;
}

.shares__btn {
  max-width: 160px;
  padding: 20px;
  height: 56px;
  color: var(--07, #585656);
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  background: #E7E7E7;
}

.shares__block3 {
  display: flex;
  align-items: center;
  gap: 16px;
}

.shares__block4 {
  display: none;
  margin-top: 16px;
}

@media screen and (max-width: 1100px) {
  .shares__block3 {
    display: none;
  }
  .shares__block4 {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .shares__block2 {
    max-width: 279px;
    width: 100%;
    padding: 8px 16px;
  }
  .shares__block2_text {
    margin-bottom: 0;
    font-size: 16px;
  }
  .shares__block2_title {
    font-size: 20px;
  }
  .shares__title {
    font-size: 32px;
    max-width: 300px;
  }
  .shares__text {
    font-size: 16px;
    max-width: 300px;
  }
  .shares__container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 768px) {
  .shares__img {
    display: none;
  }
  .shares__block {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 430px) {
  .shares__block4 {
    flex-direction: column;
  }
  .shares__btn {
    max-width: 100%;
  }
  .shares__block2 {
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (max-width: 376px) {
  .shares__block2 {
    max-width: 100%;
  }
  .shares__input {
    width: 330px;
  }
  .shares__btn {
    width: 330px;
  }
}
.footer__text {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  margin-top: 27px;
}

.footer__text2 {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}

.footer__text3 {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  max-width: 285px;
  margin-top: 24px;
}

.footer__block {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__link {
  color: #100E0E;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer__link1 {
  color: #100E0E;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.footer__link2 {
  color: #100E0E;
  font-size: 40px;
  font-weight: 500;
}

.footer__text4 {
  color: #706E6E;
  font-size: 14px;
  font-weight: 400;
  max-width: 176px;
}

.footer__block3 {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__title1 {
  color: #0071E4;
  font-size: 20px;
  font-weight: 500;
}

.footer__title {
  color: #100E0E;
  font-size: 16px;
  font-weight: 500;
  margin-top: 36px;
}

.footer__title3 {
  color: #100E0E;
  font-size: 16px;
  font-weight: 500;
  margin-top: 16px;
}

.footer__title2 {
  color: #0071E4;
  font-size: 16px;
  font-weight: 500;
  display: none;
}

.footer_img1 {
  width: 24px;
  height: 24px;
}

.footer_img2 {
  width: 27px;
  height: 27px;
}

.footer_img3 {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 933px) {
  .footer__block {
    flex-direction: column;
    text-align: left;
  }
  .logo_div {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .footer__text3 {
    max-width: 489px;
    margin-top: 8px;
  }
  .footer__list {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
  }
  .footer__list1 {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    text-align: left;
  }
  .footer__block2 {
    display: flex;
    align-items: center;
  }
  .footer__link2 {
    font-size: 32px;
  }
  .footer__text4 {
    margin-left: 16px;
    margin-right: 187px;
  }
  .footer__title1 {
    display: none;
  }
  .footer__title2 {
    color: #0071E4;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    margin-top: 20px;
  }
  .footer__title {
    margin-top: 33px;
  }
}
@media screen and (max-width: 765px) {
  .footer__link2 {
    font-size: 24px;
  }
  .footer__block2 {
    flex-direction: column;
  }
  .footer__list {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */